
/* Cor de fundo da página */

body {
background-color: #f0f8ff; /* Cor de fundo suave */
color: #333; /* Cor do texto */
font-family: Arial, sans-serif;
}

/* Cor do cabeçalho */
header {
background-color: #101010; /* Cor de fundo verde */
color: white; /* Cor do texto */
padding: 20px;
text-align: center;
}

/* Cor de fundo dos parágrafos */
p {
background-color: #fff; /* Fundo branco */
padding: 10px;
border-radius: 5px;
margin: 10px 0;
}

/* Cor de fundo dos links */
a {
color: #1e90ff; /* Cor azul dos links */
text-decoration: none;
}

a:hover {
color: #ff6347; /* Cor dos links ao passar o mouse */
}

